BOT_TOKEN=
SUPERUSER_TG_IDS=123,456
WG0_PATH=/opt/amnezia/awg/wg0.conf
CLIENTS_TABLE_PATH=/opt/amnezia/awg/clientsTable
SERVER_PUBLIC_KEY_PATH=/opt/amnezia/awg/wireguard_server_public_key.key
SERVER_PSK_PATH=/opt/amnezia/awg/wireguard_psk.key
PRIMARY_DNS=
SECONDARY_DNS=
SERVER_HOST=
SERVER_PORT=
TRANSPORT_PROTO=
DEFAULT_MTU=

